.socials {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.socials-svg>path{
	fill: #000;
	transition-duration: 500ms;
	transition-property: fill;
}

.socials-svg>path:hover {
	fill: #f84545;
}

.socials-instagram {
	width: 27px;
	height: 26px;
}

.socials-facebook {
	width: 15px;
	height: 29px;
}

.socials-twitter {
	width: 27px;
	height: 22px;
}

@media (max-width: 768px) {
	.socials-item {
		margin: 15px;
	}
}